<% layout('layouts/boilerplate.ejs') %>

<div
  class="jumbotron jumbotron-fluid"
  style="
    background-image: url(<%= court.image %>);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
  "
>
  <div class="d-flex align-items-center" style="height: 100%">
    <div class="container show-jumbo-container">
      <h1 class="display-3"><%= court.title %></h1>
      <p class="lead"><%= court.description %></p>
      <p><%= court.location %></p>
      <hr />
      <p>
        Court Hours: <%= court.opening_hours %>am - <%= court.closing_hours %>pm
      </p>
      <p>Type: <%= court.court %> court</p>
      <p>Avg number of players: <%= court.avgNumberOfPlayers %></p>
    </div>
  </div>
</div>

<p class="text-center mt-5 display-4">Court Images</p>

<div class="my-4">
  <div class="responsive">
    <img src="https://source.unsplash.com/collection/1841259/800x600" alt="" />
    <img src="https://source.unsplash.com/collection/9454911/800x600" alt="" />
    <img src="https://source.unsplash.com/collection/173/800x600" alt="" />
    <img src="https://source.unsplash.com/collection/3331316/800x600" alt="" />
    <img src="https://source.unsplash.com/collection/3161728/800x600" alt="" />
  </div>
</div>

<p class="text-center mt-5 display-4">Comments</p>
<div class="container my-5">
  <div class="media">
    <img
      class="mr-3"
      src="https://picsum.photos/64"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Russ Telen</h5>
      Lot's of great players in this court. Everyones nice!!
    </div>
  </div>
  <div class="media">
    <img
      class="mr-3"
      src="https://picsum.photos/64"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Pat Fortaleza</h5>
      Guys out here dont give a F*CK!!!
    </div>
  </div>
  <div class="media">
    <img
      class="mr-3"
      src="https://picsum.photos/64"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Kalvin Tang</h5>
      LOL broke all yall ankles. Kobe !!
    </div>
  </div>

  <textarea name="" id="" cols="50" rows="5"></textarea>
  <br />
  <button class="btn card-button">Add Comment</button>
</div>
