<% layout('layouts/boilerplate.ejs') %>

<div
  class="jumbotron jumbotron-fluid"
  style="
    background-image: url('<%= court.image %>');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
  "
>
  <div class="d-flex align-items-center" style="height: 100%">
    <div class="container show-jumbo-container">
      <h1 class="display-3"><%= court.title %></h1>
      <p class="lead"><%= court.description %></p>
      <p><%= court.location %></p>
      <hr />
      <p>
        Court Hours: <%= court.opening_hours %>am - <%= court.closing_hours %>pm
      </p>
      <p>Type: <%= court.court %> court</p>
      <p>Avg number of players: <%= court.avgNumberOfPlayers %></p>
      <% if(getAverageRating() > 0) { %>
      <p>
        Average Rating:
        <star-rating
          stars="5"
          rating="<%= getAverageRating() %>"
          read-only
        ></star-rating>
      </p>
      <% } else { %>
      <p>No ratings yet</p>
      <% } %>

      <a href="/courts/<%= court._id %>/edit" class="btn btn-sm edit-button"
        >Edit Court</a
      >
      <form
        class="d-inline"
        action="/courts/<%= court._id %>/?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-sm delete-button">Delete</button>
      </form>
    </div>
  </div>
</div>

<p class="text-center mt-5 display-4">Court Images</p>
<div class="text-center">
  <button class="btn btn-sm btn-info text-white" onclick="toggleForm()">
    New Photo <i class="fas fa-plus-circle"></i>
  </button>
  <a
    href="/courts/<%= court._id %>/photos"
    class="btn btn-sm btn-warning text-white"
  >
    Manage Photos <i class="fas fa-cogs"></i>
  </a>
</div>
<div class="container mt-2" id="image-form" style="display: none">
  <form
    class="validated-form"
    novalidate
    action="/courts/<%= court._id %>/photos"
    method="POST"
  >
    <div class="row">
      <div class="col-8 offset-1">
        <label class="form-label" for="image" hidden>IMG</label>
        <input
          type="url"
          id="image"
          name="image"
          placeholder="https://example.com"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter Image URL link</div>
      </div>
      <div class="col-3">
        <button class="btn btn-md btn-success">Add</button>
      </div>
    </div>
  </form>
</div>

<div class="container mt-3">
  <% if(court.photos.length > 0) { %>
  <div class="splide">
    <div class="splide__track">
      <div class="splide__list">
        <% court.photos.map(photo => { %>
        <img
          class="splide__slide"
          src="<%= photo.image %>"
          alt="<%= photo.image %>"
        />
        <!-- <button class="btn btn-danger">DELETE</button> -->
        <% }) %>
      </div>
    </div>
  </div>
  <% } else { %>
  <p class="text-muted text-center">No Photos Yet</p>
  <% } %>
</div>

<p class="text-center mt-5 display-4">Add A Review</p>
<div class="container my-5 court-reviews">
  <form
    class="validated-form"
    novalidate
    action="/courts/<%= court._id %>/reviews"
    method="POST"
  >
    <div class="mb-3">
      <label class="form-label" for="rating">Rating</label>
      <div class="input-group">
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label
            for="star5"
            title="Rocks!"
            required
            >5 stars</label
          >
          <input type="radio" id="star4" name="rating" value="4" /><label
            for="star4"
            title="Pretty good"
            required
            >4 stars</label
          >
          <input type="radio" id="star3" name="rating" value="3" /><label
            for="star3"
            title="Meh"
            required
            >3 stars</label
          >
          <input type="radio" id="star2" name="rating" value="2" /><label
            for="star2"
            title="Kinda bad"
            required
            >2 stars</label
          >
          <input type="radio" id="star1" name="rating" value="1" /><label
            for="star1"
            title="Sucks big time"
            required
            >1 star</label
          >
        </fieldset>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please select your rating</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="body">Review</label>
      <textarea
        type="text"
        id="body"
        name="body"
        placeholder="This court is amazing - lots of good people"
        class="form-control"
        rows="6"
        required
      ></textarea>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter your review</div>
    </div>

    <button type="submit" class="btn btn-success mb-3">Submit</button>
  </form>
</div>

<div class="container">
  <% if(court.reviews.length > 0){ %>
  <ul class="list-unstyled">
    <li class="media">
      <% court.reviews.map(review => { %>
      <div class="media row">
        <div class="media-body col-11">
          <h5 class="mt-0">
            Rating:
            <star-rating
              stars="5"
              rating="<%= review.rating %>"
              read-only
            ></star-rating>
          </h5>
          <%= review.body %>
        </div>
        <div class="col-1">
          <form
            action="/courts/<%= court._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </form>
        </div>
        <hr />
      </div>
      <% })%>
    </li>
  </ul>
  <% } else { %>
  <p class="text-muted">No Reviews Yet</p>
  <% } %>
</div>
